.container {
    width: 100%;
    padding: 40px 30px ;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1220px;
    }
}