.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-left: 31px;
        padding-right: 33px;
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        padding-left: 32px;
        padding-right: 32px;
        width: 1216px;
    }
}