/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// base
@import './base/common';
@import './base/container';
@import './base/variables';

// components



// layout
@import './layout/header';
@import './layout/main';
@import './layout/footer';


// utils