/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// base
@import './base/common';
@import './base/container';
@import './base/section';
@import './base/variables';
@import './base/mixin';
// components



// layout
@import './layout/header';
@import './layout/mylibrary-header';
@import './layout/films';
@import './layout/footer';
@import './layout/modal';

// utils