<header class="header" >
<div class="container overlay">



    <nav class="nav">
<a class="nav_logo" href="./index.html"> <svg class="header_logo_icon" width="24" height="24">
        <use href="./images/header/svg/film.svg"></use>
    </svg> <span><h2 class="nav_title">Filmoteka</h2></span>
</a>

<div class="nav_list ">
    <button>
Home
    </button>
    <button>
    library
    </button>
</div>
</nav>
<form class="search js-search__form">
    <label>
        <input type="text" class="search__input" name="query" placeholder="Поиск фильмов" />
    </label>
    <button type="submit" class="search__btn js-search__button">
        <svg class="search__svg" width="12" height="12">
            <use href="./images/header/svg/search.svg"></use>
        </svg>
    </button>
</form>


</div>
</header>