<header class="header overlay-header" >
<div class="section">
<div class="container">
    <nav class="navigation">
<a class="navigation__logo" href="./index.html"> <object class="navigation__logo_icon name=" graph" type="image/svg+xml" data="./images/header/svg/film.svg" width="100%"
            height="100%"></object>
        <p class="navigation__title">Filmoteka</p>
     </a>
    <ul class="navigation__list ">
        <li class="navigation__list--item navigation_list--active"><a href="./index.html"> Home </a>
</li>
        <li class="navigation__list--item"><a href="./partials/myLibrary.html">my library</a>
</li>
    </ul>
       
    </nav>
    <form class="search js-search__form">
        <label>
            <input type="text" class="search_input" name="query" placeholder="Search films" />
        </label>
        <button type="submit" class="search_btn js-search_button">
                    <object class="search_svg name="graph" type="image/svg+xml" data="./images/header/svg/search.svg"
                        width="100%" height="100%"></object>
        </button>
    </form>
<p class="search_error hide">
Search result not successful. Enter the correct movie name and
</p>
</div>
</div>
</header>