.film-gallery {

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
 

 @media screen and (min-width: $min-tablet-size) {
   display: grid;
   max-width: 1140px;
    margin-top: 60px;
   grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
   grid-gap: 32px;

   justify-content: center;
 }

 @media screen and (min-width: $min-desktop-size) {
   grid-column-gap: 16px;
   grid-row-gap: 32px;
 }


 &__title {
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 12px;
   line-height: 1.17;
   text-transform: uppercase;
   color: $film-name;

   @media screen and (min-width: $min-tablet-size) {
     line-height: 1.33;
   }
   @media screen and (min-width: $min-desktop-size) {
     font-size: 20px;
     line-height: 1.2;
   }

 }

 &__info{
   margin-top: 10px;
   @media screen and (min-width: $min-tablet-size) {
     margin-top: 8px;
   }
   @media screen and (min-width: $min-desktop-size) {
     margin-top: 12px;
   }
 }

 &__text {
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 12px;
   line-height: 1.33;
   color: $film-genre;

   @media screen and (min-width: $min-desktop-size) {
     font-size: 20px;
     line-height: 1.2;
   }
 }

 &__image{
   height: 80%;
   width: 100%;
   object-fit: cover;
   border-radius: 5px;
   // transition: transform var(--animation-duration) var(--timing-function);
   @media screen and (min-width: $min-tablet-size) {
     height: 455px;
   }
   @media screen and (min-width: $min-desktop-size) {
     height: 575px;
   }
 }
}
 .film-gallery__item {
   position: relative;
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
     0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
 }

 .film-gallery__item:hover {
   transform: scale(1.03);
 }



   .btn-lm {
     background-color: #FF6B01;
     color: white;
     border-radius: 5px;
     height: 42px;
     width: auto;
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 20px;
     margin-left: 511px;


   }